<!DOCTYPE html>
<html>
    <head>
        <title>Pico y Placa Predictor</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
    </head>
    <body>
        <div class="w3-padding" style="max-width:1200px;margin-top:10px">
            <div class="w3-row">
                <div class="w3-col m8 w3-padding w3-center" style="margin: auto;">
                    <div class="w3-card-4" style="max-width: 500px; margin: auto;">
                        <div class="w3-blue w3-center">
                            <h1>Pico y placa</h1>
                            <img src="{{url_for('static', filename='banner.jpg')}}" width="100%">
                        </div>                        
                        <div class="w3-center">
                            <div class="w3-container" style="display: flex; margin-top: 10px;">
                                <button onclick="today()" class="w3-button w3-blue w3-round-xxlarge" style="margin: auto; max-width: 150px; white-space: normal;">Seleccionar hoy</button>
                                <button onclick="time()" class="w3-button w3-blue w3-round-xxlarge" style="margin: auto; max-width: 150px; white-space: normal;">Seleccionar hora actual</button>
                            </div>
                            <br>
                            <label>Placa</label>
                            <input name="plate" type="text" class="w3-input w3-center" title="Inserte la placa completa sin guión ni espacio. Ej: PPP0505"
                            placeholder="Inserte la placa del vehículo" pattern="[A-Za-z]{3}[0-9]{4}">
                            <span name="plate">
                            </span>
                            <br>
                            <label>Fecha</label>
                            <input name="date" type="text" class="w3-input w3-center" title="Inserte la fecha en formato dd-mm-aaaa"
                            placeholder="dd-mm-aaaa" pattern="[0-9]{1,2}-[0-9]{1,2}-[0-9]{4}">
                            <span name="date"></span>
                            <br>
                            <label>Hora</label>
                            <input name="hour" type="text" class="w3-input w3-center" title="Inserte la fecha en formato hh:mm en 24h"
                            placeholder="hh:mm 24h" pattern="/^([01][0-9]|2[0-3]):([0-5][0-9])$/">
                            <span name="hour"></span>
                            <br>
                            <div class="w3-container">
                                <button id="evalPlateButton" onclick="evalPlate()" class="w3-button w3-blue w3-round-xxlarge w3-center" style="margin: auto; max-width: 150px; white-space: normal;">Enviar</button>
                            </div>
                            <br>
                            <div class="w3-center w3-container">
                                <span id="Result">
                                </span>
                            </div>
                            
                        </div>
                    </div>   
                </div>
                <div class="w3-col m4 w3-padding w3-center">
                    <img src="{{url_for('static', filename='reglas.jpg')}}" width="100%">
                </div>
            </div>
        </div>
        <script>
            var result = document.getElementById("Result");
            var evalPlateButton = document.getElementById("evalPlateButton");

            var plateInput = document.getElementsByName("plate")[0];
            var dateInput = document.getElementsByName("date")[0];
            var hourInput = document.getElementsByName("hour")[0];
            var errorPlate = document.getElementsByName("plate")[1];
            var errorDate = document.getElementsByName("date")[1];
            var errorTime = document.getElementsByName("hour")[1];

            const regexPlate = /[A-Za-z]{3}[0-9]{4}/
            const regexDate = /[0-9]{1,2}-[0-9]{1,2}-[0-9]{4}/
            const regexHour = /^(2[0-3]|[01]?[0-9]|1[0-9]):([0-5][0-9])$/

            function validatePlate(){
                var isCorrect = regexPlate.test(plateInput.value)
                if(!isCorrect){
                    errorPlate.innerHTML = "<p><strong>Formato incorrecto.</strong> Inserte la placa completa sin guión ni espacio. Ej: PPP0505</p>"
                } else {
                    errorPlate.innerHTML = ""
                }
                return isCorrect 
            }
            function validateDate(){
                var isCorrect = regexDate.test(dateInput.value)
                if(!isCorrect){
                    errorDate.innerHTML = "<p><strong>Formato incorrecto.</strong> Inserte la fecha en formato dd-mm-aaaa. Ej: 15-06-2022</p>"
                } else {
                    errorDate.innerHTML = ""
                }
                return isCorrect
            }
            function validateHour(){
                var isCorrect = regexHour.test(hourInput.value)
                if(!isCorrect){
                    errorTime.innerHTML = "<p><strong>Formato incorrecto.</strong> Inserte la fecha en formato hh:mm en 24h. Ej: 9:15</p>"
                } else {
                    errorTime.innerHTML = ""
                }
                return isCorrect
            }
            async function evalPlate(){
                if( validatePlate() && validateDate() && validateHour()){
                    evalPlateButton.disabled = false;
                    var url = new URL(window.location.href + '/plate/canDrive');
                    url.search = new URLSearchParams({
                            'plate' : plateInput.value,
                            'date' : dateInput.value,
                            'hour' : hourInput.value,
                        }).toString();
                    var response = await fetch(url);
                    var plate = await response.json();
                    if (plate.canDrive){
                        result.innerHTML = "<img src=\"{{url_for('static', filename='GreenLight.png')}}\" width='50%'><p>Puede circular</p>";
                    } else {
                        result.innerHTML = "<img src=\"{{url_for('static', filename='RedLight.png')}}\" width='50%'><p>No puede circular</p>";
                    }
                } else {
                    result.innerHTML = "";
                }
            }
            function today(){
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var yyyy = today.getFullYear();
                dateInput.value = dd + '-' + mm + '-' + yyyy;
                evalPlate()
            };
            function time(){
                var today = new Date();
                var hh = String(today.getHours()).padStart(2, '0');
                var mm = String(today.getMinutes()).padStart(2, '0');
                hourInput.value = hh + ':' + mm ;
                evalPlate()
            };

            plateInput.addEventListener("change", evalPlate);
            dateInput.addEventListener("change", evalPlate);
            hourInput.addEventListener("change", evalPlate);
            plateInput.addEventListener("keydown", evalPlate);
            dateInput.addEventListener("keydown", evalPlate);
            hourInput.addEventListener("keydown", evalPlate);
        </script>    
    </body>
</html>
